html, body {
    min-height: 100vh;
}

body {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    width: 100%;
    background-color: #E4E5E7;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside {
    height: 400px;
}

.main {
    height: 400px;
}

.d-flex {
    display: flex;
}

.task-title {
    font-weight: 400;
    padding-top: 5px;
    overflow: auto;
    white-space: nowrap;
}

.task-title::-webkit-scrollbar {
display: none;
}

.gray {
    color: #BDBDBD;
}

.task-title--done {
    text-decoration: line-through;
    color: #CDCDCD;
}

.task-item__buttons {
    display: flex;
    column-gap: 5px;
}


.notify-holder {
    height: 60px;
    margin-bottom: 20px;
}

.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.empty-list__title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 300;
}

.empty-list__icon {
    color: #42BE2A;
    font-size: 32px;
}

.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea !important;
    opacity: 1;
}

.btn-action:focus {
    outline: none !important;
}

.btn-action:active {
    background-color: #c5cace;
    opacity: 0.3;
}

/* снимает все события с тега img,
клик по элементу будет его игнорировать */
.btn-action img {
    pointer-events: none;
}

.none {
    display: none !important;
}

.float-right {
    float: right;
}

.form-control {
    margin-bottom: 1.25rem;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 1.025rem !important;
}

.btn {
    background-color: #4fb761 !important;
    border-color: #4fb761 !important;
    color: white;
    height: 38px;
    margin-left: 10px;
}

.btn:active {
    box-shadow: none;
    background-color: #46a457 !important;
    border-color: #46a457 !important;
}

button:hover {
    background-color: #4baf5c !important;
    border-color: #4baf5c !important;
}

.form-group {
    margin: 0;
    display: flex;
}

.card-header {
    background-color: #f0f1f6;
    border: 1px solid #dee2e6;
}

.card-header:first-child {
    border-radius: 0 0.25rem 0.25rem;
}

.pagination {
    width: fit-content;
}

#listStatus {
    display: flex;
    width: fit-content;
}

.statusTab {
    cursor: pointer;
    display: block;
    border-collapse: separate;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem 0.25rem 0 0;
}

.statusTab:hover:not(.activeStatus) {
    background-color: #f0f1f6 !important;
    border: 1px solid #dee2e6!important;
}

.statusTab:focus {
    color: white;
    background-color: #4baf5c !important;
    border-color: #4baf5c !important;
    outline: none;
}

.activeStatus {
    color: white;
    background-color: #4baf5c !important;
    border-color: #4baf5c !important;
    outline: none;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #4baf5c;
}

.page-link:active {
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #4baf5c;
    border-color: #4baf5c;
}

.form-control:focus {
    border-color: rgba(125, 224, 142, 0.56);
    box-shadow: 0 0 0 0.1rem rgba(125, 224, 142, 0.56);
}