:root {
    --mainGreen: #4baf5c;
    --greyBgBtn: #e0e5ea;
    --greyBgCard: #f0f1f6;
    --greyBorder: #dee2e6;
}


html, body {
    min-height: 100vh;
}

body {
    font-family: 'Golos Text', sans-serif;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    width: 100%;
    background-color: #E4E5E7;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-4 {
    font-weight: bold;
    color: #414348;
}

.h4 {
    color: #9fa7b0;;
}

.card-header {
    color: #8b929a;
}

.d-flex {
    display: flex;
}

.task-title {
    font-weight: 400;
    padding-top: 5px;
    overflow: auto;
    white-space: nowrap;
}

.task-title::-webkit-scrollbar {
    display: none;
}


.task-title--done {
    text-decoration: line-through;
    color: #CDCDCD;
}

.task-item__buttons {
    display: flex;
    column-gap: 5px;
}

.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.empty-list__title {
    font-size: 18px;
    margin: 8px 0 15px;
    font-weight: 400;
    color: #9fa7b0;
}

.btn-action {
    background-color: var(--greyBgBtn);
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: var(--greyBgBtn) !important;
    opacity: 1;
}

.btn-action:focus {
    outline: none !important;
}

.btn-action:active {
    background-color: #c5cace;
    opacity: 0.3;
}

/* снимает все события с тега img,
клик по элементу будет его игнорировать */
.btn-action img {
    pointer-events: none;
}

.none {
    display: none !important;
}

.float-right {
    float: right;
}

.form-control {
    margin-bottom: 1.25rem;
}

button {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.025rem !important;
}

.btn {
    background-color: #4fb761 !important;
    border-color: #4fb761 !important;
    color: white;
    height: 38px;
    margin-left: 10px;
}

.btn:active {
    box-shadow: none;
}

button:hover:not(.disable, .btn-action) {
    background-color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
}

.form-group {
    margin: 0;
    display: flex;
}

.card-header {
    background-color: var(--greyBgCard);
    border: 1px solid var(--greyBorder);
}

.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card {
    border-radius: 0 0 0.25rem 0.25rem;
}

.pagination {
    width: fit-content;
}

#listStatus {
    display: flex;
    width: fit-content;
}

.statusTab {
    cursor: pointer;
    display: block;
    border-collapse: separate;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #63686e;
    background-color: #fff;
    border: 1px solid var(--greyBorder);
    border-radius: 0.25rem 0.25rem 0 0;
}

.statusTab:hover:not(.activeStatus, .disable) {
    background-color: var(--greyBgCard) !important;
    border: 1px solid var(--greyBorder) !important;
}

.statusTab:focus {
    color: white;
    background-color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
    outline: none;
}

.activeStatus {
    color: white;
    background-color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
    outline: none;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: var(--mainGreen);
}

.page-link:active {
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
}

.form-control:focus {
    border-color: rgba(125, 224, 142, 0.56);
    box-shadow: 0 0 0 0.1rem rgba(125, 224, 142, 0.56);
}

.disable {
    cursor: default;
    color: #b1b8bd;
    background-color: var(--greyBgCard) !important;
    border: 1px solid var(--greyBorder) !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #b1b8bd !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b1b8bd !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b1b8bd !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #b1b8bd !important;
}